{
  "swagger": "2.0",
  "info": {
    "title": "Harvest API",
    "description": "",
    "version": "1.0"
  },
  "host": "api.harvestapp.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/time_entries": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "time_entries": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TimeEntry"
                  }
                },
                "per_page": {
                  "type": "number"
                },
                "total_pages": {
                  "type": "number"
                },
                "total_entries": {
                  "type": "number"
                },
                "page": {
                  "type": "number"
                },
                "links": {
                  "properties": {
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "summary": "List time entries",
        "operationId": "GetTimeEntries",
        "description": "Returns a list of your time entries",
        "parameters": [{
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify a date to return time entries spent on or after a given date (YYYY-MM-DD)",
            "x-ms-summary": "From",
            "format": "date"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page",
            "description": "Specify the page number to use in pagination"
          },
          {
            "name": "Harvest-Account-Id",
            "in": "header",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important",
            "x-ms-summary": "Account Id",
            "description": "Specify your Harvest Account Id"
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Harvest API PowerPlatform Custom Connector",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "TimeEntry": {
      "properties": {
        "id": {
          "type": "number"
        },
        "spent_date": {
          "type": "string"
        },
        "user": {
          "properties": {
            "id": {
              "type": "number"
            },
            "name": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "client": {
          "properties": {
            "id": {
              "type": "number"
            },
            "name": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "project": {
          "properties": {
            "id": {
              "type": "number"
            },
            "name": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "task": {
          "properties": {
            "id": {
              "type": "number"
            },
            "name": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "user_assignment": {
          "properties": {
            "id": {
              "type": "number"
            },
            "is_project_manager": {
              "type": "boolean"
            },
            "is_active": {
              "type": "boolean"
            },
            "created_at": {
              "type": "string"
            },
            "updated_at": {
              "type": "string"
            },
            "hourly_rate": {
              "type": "number"
            }
          },
          "type": "object"
        },
        "task_assignment": {
          "properties": {
            "id": {
              "type": "number"
            },
            "billable": {
              "type": "boolean"
            },
            "is_active": {
              "type": "boolean"
            },
            "created_at": {
              "type": "string"
            },
            "updated_at": {
              "type": "string"
            },
            "hourly_rate": {
              "type": "number"
            }
          },
          "type": "object"
        },
        "hours": {
          "type": "number"
        },
        "notes": {
          "type": "string"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        },
        "is_locked": {
          "type": "boolean"
        },
        "locked_reason": {
          "type": "string"
        },
        "is_closed": {
          "type": "boolean"
        },
        "is_billed": {
          "type": "boolean"
        },
        "started_time": {
          "type": "string"
        },
        "ended_time": {
          "type": "string"
        },
        "is_running": {
          "type": "boolean"
        },
        "billable": {
          "type": "boolean"
        },
        "budgeted": {
          "type": "boolean"
        },
        "billable_rate": {
          "type": "number"
        },
        "cost_rate": {
          "type": "number"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://id.getharvest.com/oauth2/authorize",
      "tokenUrl": "https://id.getharvest.com/api/v2/oauth2/token",
      "scopes": {
        "all": "all"
      }
    }
  },
  "security": [{
    "oauth2_auth": [
      "all"
    ]
  }],
  "tags": []
}